.model-container {
  margin-top: 10px;
  width: 150px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid black;
  padding: 0 10px;
  background-color: white;
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.remove-btn {
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -7px;
  top: -8px;
  cursor: pointer;
}

.disable-remove-btn {
  display: none;
}

.model-container .header {
  padding: 8px 0;
  border-bottom: 1px solid black;
}
.model-container .header p {
  font-weight: 700;
}

.model-container .keywordlist-container {
  border-bottom: 1px solid black;
  max-height: 50%;
  min-height: 50%;
  overflow: auto;
}

.model-container h2 {
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.model-container .score {
  display: flex;
  justify-content: center;
}

.model-container .deletedlist-container {
  overflow: auto;
  /* max-height: 150px; */
}
