.show-container .header-message {
  padding-bottom: 40px;
}

.show-container .header-message .header {
  font-size: 24px;
  line-height: 31px;
  width: 100%;
  max-width: 404px;
}

.show-container .header-message .header h1 {
  font-size: 24px;
  line-height: 31px;
}

.search-show-top {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
}

.search-show-top .search-keyword-range {
  display: flex;
  width: 100%;
  max-width: 347px;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 27px;
  padding-left: 19px;
}

.search-show-top .search-keyword-range .range-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
}
.search-show-top .search-keyword-range .range-left .slider-container {
  padding-top: 19px;
  padding-bottom: 10px;
  padding-left: 3px;
}

.search-show-top .search-keyword-range .range-left h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.search-show-top .search-keyword-range .range-right {
  text-align: center;
}
.search-show-top .search-keyword-range .range-right div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.search-show-top .search-keyword-range .range-right h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding-right: 23px;
  color: #9fa7ae;
}

.show-container .header-message .subheader {
  padding-top: 6px;
}

.show-container .header-message .subheader p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
