/* Top */
.search-show-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 625px) {
  .search-show-top {
    flex-direction: column;
  }
}

.search-show-top .search-show-tags-container {
  width: 410px;
  min-height: 88px;
  max-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-right: 34px;
}

@media (max-width: 775px) {
  .search-show-top .search-show-tags-container {
    margin-right: 0;
  }
}

.search-show-top .search-show-tags-container .tag-history {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
  max-height: 70px;
  overflow: auto;
  padding-left: 55px;
  max-width: 330px;
}

.search-show-top .search-show-tags-container .tag-history .history-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .history {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 70px;
  padding: 0 10px;
  height: 21px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #172d3b;
  margin-right: 6px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .selected {
  background: #172d3b;
  color: white;
}
.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .history
  .img {
  border: 0;
}
.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .selected
  .img {
  border: 0;
  background: #172d3b;
}
.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .history
  img:hover {
  transform: scale(1.2);
}
.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .selected
  .img {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.search-show-top
  .search-show-tags-container
  .tag-history
  .history-list
  .selected
  .img:hover {
  transform: scale(1);
}

.search-show-top .search-show-tags-container .show-tags-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.search-show-top .search-show-tags-container .show-tags-top .clear-history {
  cursor: pointer;
  width: 77px;
  height: 21px;
  border-radius: 4px;
  border: 2px solid #a8226f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-show-top
  .search-show-tags-container
  .show-tags-top
  .clear-history:active {
  background-color: #a8226f;
}
.search-show-top
  .search-show-tags-container
  .show-tags-top
  .clear-history:visited {
  background-color: white;
}

.search-show-top .search-show-tags-container .show-tags-top .clear-history p {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #a8226f;
}

.search-show-top
  .search-show-tags-container
  .show-tags-top
  .clear-history:active
  p {
  color: white;
}

.search-show-top .search-show-tags-container .show-tags-top h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  color: rgba(23, 45, 59, 0.5);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.search-show-top .search-show-tags-container .range-right {
  text-align: center;
}
.search-show-top .search-show-tags-container .range-right div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.search-show-top .search-show-tags-container .range-right h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding-right: 23px;
  color: #9fa7ae;
}

/* bot */

.search-show-bot {
  overflow: auto;
  overflow-y: hidden;
  transform: rotateX(180deg);
  padding-top: 25px;
}

.result-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;

  margin-bottom: 18px;
  margin-top: 25px;
}

@media (max-width: 450px) {
  .result-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.result-header .result-header-left {
  display: flex;
  align-items: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;

  color: rgba(23, 45, 59, 0.4);
  margin-bottom: 18px;

  width: 100%;
  justify-content: space-between;
  max-width: 160px;
}
.result-header .result-header-left img {
  transform: scale(0.8);
}
.result-header .result-header-right {
  display: flex;
  margin-right: 34px;
  align-items: center;
}

@media (max-width: 775px) {
  .result-header .result-header-right {
    margin-right: 0;
  }
}

.result-header .result-header-right label {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding-right: 10px;

  color: #172d3b;
}
.result-header .result-header-right form {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.result-header .result-header-right form img {
  position: absolute;
  right: 15px;
  top: 10px;
}
.result-header .result-header-right form::after {
  pointer-events: none;
}
.result-header .result-header-right form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  border: 1.2px solid rgba(23, 45, 59, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  width: 115px;
  height: 24px;
  text-transform: uppercase;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  padding-left: 10px;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: #172d3b;
}
.result-header .result-header-right form select::-ms-expand {
  display: none;
}

.result-list-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.result-list-container .result-kw-heading {
  background-color: #172d3b;
  padding-right: 18px;
}

.result-list-container .result-kw-heading div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 44px;
  align-items: center;
}

.result-kw-list {
  background-color: #ffffff;
  cursor: pointer;
}
.result-kw-list hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 12px;
}

.result-kw-list:hover {
}

.result-kw-list .result-kw-item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.result-kw-list .result-kw-item .text {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}
.result-kw-list .result-kw-item .freq {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #747474;
}

.see-more-container {
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 12px;
}

.see-more-container .content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.see-more-container .content p {
  padding-bottom: 15px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(23, 45, 59, 0.7);
}

/* model list*/

.search-show-bot .model-list {
  display: flex;
  transform: rotateX(180deg);
  padding-top: 10px;
}

.result-model-container {
  margin-right: 27px;
  max-width: 178px;
  min-width: 178px;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.model-header-container {
  background-color: #172d3b;
  padding: 20px 20px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.model-header-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-header-container .top button {
  cursor: pointer;
  border: none;
  background-color: #172d3b;
}
.model-header-container .top img:hover {
  transform: scale(1.2);
}
.model-header-container h1 {
  text-transform: capitalize;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
}
.model-header-container .hover {
  display: block;
}

.model-header-container .bot {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}

.model-header-container .bot div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
}
