.search-show-top {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 740px) {
  .search-show-top {
    flex-direction: column;
  }
}

.search-show-top .searchbar-container .search-history {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}

.search-show-top .searchbar-container .search-history .history-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 240px;
}

.search-show-top .searchbar-container .search-history .history-list .history {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 2px;
  width: 72px;
  height: 18px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #172d3b;
  margin-right: 6px;
  margin-bottom: 3px;
}

.search-show-top .searchbar-container .search-history .clear-history {
  width: 53px;
  height: 12px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(23, 45, 59, 0.6);
}

.search-show-top .search-keyword-range {
  display: flex;
  width: 100%;
  max-width: 347px;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 27px;
  padding-left: 19px;
}

.search-show-top .search-keyword-range .range-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
}
.search-show-top .search-keyword-range .range-left .slider-container {
  padding-top: 19px;
  padding-bottom: 10px;
  padding-left: 3px;
}

.search-show-top .search-keyword-range .range-left h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.search-show-top .search-keyword-range .range-right {
  text-align: center;
}
.search-show-top .search-keyword-range .range-right div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.search-show-top .search-keyword-range .range-right h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding-right: 23px;
  color: #9fa7ae;
}

/* Header */
.show-container .header-message {
  padding-bottom: 40px;
}

.show-container .header-message .header {
  font-size: 24px;
  line-height: 31px;
  width: 100%;
  max-width: 404px;
}

.show-container .header-message .header h1 {
  font-size: 24px;
  line-height: 31px;
}

.show-container .header-message .subheader {
  padding-top: 6px;
}

.show-container .header-message .subheader p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

/* bot */

.search-show-bot {
  padding-top: 50px;
  overflow: auto;
}

.search-show-bot .result-header {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: rgba(23, 45, 59, 0.4);
  margin-bottom: 18px;
}

.result-list-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.result-list-container .result-kw-heading {
  background-color: #172d3b;
  padding-right: 18px;
}

.result-list-container .result-kw-heading div {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 44px;
  align-items: center;
  padding-left: 25px;
}

.result-kw-list {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.result-kw-list .result-kw-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.result-kw-list .result-kw-item .text {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
.result-kw-list .result-kw-item .freq {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding-right: 55px;

  color: #747474;
}

.see-more-container {
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 12px;
}

.see-more-container .content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.see-more-container .content p {
  padding-bottom: 15px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.08em;

  color: rgba(23, 45, 59, 0.7);
}

/* model list*/

.model-list {
  display: flex;
}

.result-model-container {
  margin-right: 27px;
  max-width: 195px;
  min-width: 195px;
  width: 100%;
}
.result-model-container h1 {
  margin-bottom: 20px;
}
