.App {
  margin: 3%;
}

.search-content {
  display: flex;
}

.search-content .left-content {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: calc(100vh - 50px);
}
.searchContent .rightContent {
}
