.App {
  display: flex;
  height: 85vh;
}

.search-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.search-content .left-content {
  /* margin-right: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* min-height: 80vh; */
}
.search-content .right-content {
}
