.horizontal-slide {
  width: 100%;
  height: 25px;
  width: 500px;
  border: 1px solid red;
}

.thumb {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
}

.track {
  top: 0;
  bottom: 0;
  background-color: black;
  border-radius: 999px;
}
